.item {
    background: #dedede;
    margin-bottom: 4px;
    padding: 5px;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

.unselected:hover {
    background-color:#E9EBEE;
}

.selected {
    margin-right: -10px;
    padding-right: 20px;
    background-color: #f8f8ff;
}

.subtext {
    color: #f8f8ff;
    background-color: #999;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 6px;
    font-family: 'Space Mono', monospace;
    overflow-y: hidden ;
}